$font-family: "Comic Sans MS", sans-serif;

// VARIABLES
$base-color: #333;
$base-gradient:'matte';
$active-color: #051191;
$neutral-color: #fff;
$page-bg-color: #333;

@import 'sencha-touch/default/all';
@import 'compass/css3';



// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

@include sencha-toolbar-ui('topbar', #333, 'recessed');


@include sencha-button-ui('topbtn', #051191, 'matte');
// Your custom code goes here...
@include sencha-loading-spinner( );

.descriptiveText {
	padding: 5px;
	font-size: .8em;
	.title {
		text-align: center;
		font-weight: bold;

	}
	.content {
		text-align: center;
	}
}

.about {
	.subtitle, .disclaimer, .thanks {
		margin-bottom: 2em;
	}
}

.theImg {
	vertical-align:middle;
          @include box-shadow(0px 0px 30px #000)
}

/** Icons **/
@include pictos-iconmask('action');
@include pictos-iconmask('add');
@include pictos-iconmask('add1');
@include pictos-iconmask('add_black');
@include pictos-iconmask('address_book');
@include pictos-iconmask('arrow_down');
@include pictos-iconmask('arrow_left');
@include pictos-iconmask('arrow_right');
@include pictos-iconmask('arrow_up');
@include pictos-iconmask('at');
@include pictos-iconmask('atom');
@include pictos-iconmask('attachment');
@include pictos-iconmask('attachment2');
@include pictos-iconmask('attachment3');
@include pictos-iconmask('attachment_black');
@include pictos-iconmask('backspace');
@include pictos-iconmask('battery_full');
@include pictos-iconmask('battery_low');
@include pictos-iconmask('battery_power');
@include pictos-iconmask('blank');
@include pictos-iconmask('bolt');
@include pictos-iconmask('bolt_side');
@include pictos-iconmask('bookmark1');
@include pictos-iconmask('bookmark2');
@include pictos-iconmask('bookmark_black');
@include pictos-iconmask('bookmarks');
@include pictos-iconmask('briefcase1');
@include pictos-iconmask('briefcase2');
@include pictos-iconmask('brightness1');
@include pictos-iconmask('brightness2');
@include pictos-iconmask('broadcast');
@include pictos-iconmask('bug');
@include pictos-iconmask('bulb');
@include pictos-iconmask('bullseye1');
@include pictos-iconmask('bullseye2');
@include pictos-iconmask('calendar');
@include pictos-iconmask('calendar2');
@include pictos-iconmask('calendar_add');
@include pictos-iconmask('card1');
@include pictos-iconmask('card2');
@include pictos-iconmask('chart1');
@include pictos-iconmask('chart2');
@include pictos-iconmask('chart3');
@include pictos-iconmask('chat');
@include pictos-iconmask('chat1');
@include pictos-iconmask('chat2');
@include pictos-iconmask('chat3');
@include pictos-iconmask('chat4');
@include pictos-iconmask('chat_black1');
@include pictos-iconmask('chat_black2');
@include pictos-iconmask('check1');
@include pictos-iconmask('check2');
@include pictos-iconmask('check_black1');
@include pictos-iconmask('check_black2');
@include pictos-iconmask('check_dotted');
@include pictos-iconmask('circle');
@include pictos-iconmask('circle2');
@include pictos-iconmask('circle3');
@include pictos-iconmask('circle4');
@include pictos-iconmask('clash');
@include pictos-iconmask('cloud');
@include pictos-iconmask('cloud_black');
@include pictos-iconmask('cloud_black_upload1');
@include pictos-iconmask('cloud_black_upload2');
@include pictos-iconmask('cloud_bolt');
@include pictos-iconmask('cloud_download');
@include pictos-iconmask('code1');
@include pictos-iconmask('code2');
@include pictos-iconmask('code3');
@include pictos-iconmask('compass1');
@include pictos-iconmask('compass2');
@include pictos-iconmask('compass3');
@include pictos-iconmask('compose');
@include pictos-iconmask('compose1');
@include pictos-iconmask('compose2');
@include pictos-iconmask('compose3');
@include pictos-iconmask('compose_black');
@include pictos-iconmask('contract');
@include pictos-iconmask('cube');
@include pictos-iconmask('data');
@include pictos-iconmask('delete');
@include pictos-iconmask('delete1');
@include pictos-iconmask('delete_black1');
@include pictos-iconmask('delete_black2');
@include pictos-iconmask('doc');
@include pictos-iconmask('doc2');
@include pictos-iconmask('doc_black');
@include pictos-iconmask('doc_black_landscape');
@include pictos-iconmask('doc_compose1');
@include pictos-iconmask('doc_compose2');
@include pictos-iconmask('doc_delete');
@include pictos-iconmask('doc_down');
@include pictos-iconmask('doc_drawer');
@include pictos-iconmask('doc_list');
@include pictos-iconmask('doc_new');
@include pictos-iconmask('doc_send');
@include pictos-iconmask('doc_up');
@include pictos-iconmask('docs1');
@include pictos-iconmask('docs2');
@include pictos-iconmask('docs_black1');
@include pictos-iconmask('docs_black2');
@include pictos-iconmask('download');
@include pictos-iconmask('download1');
@include pictos-iconmask('download2');
@include pictos-iconmask('download_screen');
@include pictos-iconmask('eject');
@include pictos-iconmask('empty1');
@include pictos-iconmask('empty2');
@include pictos-iconmask('equalizer1');
@include pictos-iconmask('equalizer2');
@include pictos-iconmask('event_complete');
@include pictos-iconmask('expand');
@include pictos-iconmask('favorites');
@include pictos-iconmask('favorites1');
@include pictos-iconmask('favorites_circle');
@include pictos-iconmask('fforward');
@include pictos-iconmask('find');
@include pictos-iconmask('flag');
@include pictos-iconmask('flickr2');
@include pictos-iconmask('folder');
@include pictos-iconmask('folder_add');
@include pictos-iconmask('folder_black');
@include pictos-iconmask('folder_black_open');
@include pictos-iconmask('folder_delete');
@include pictos-iconmask('folder_delete2');
@include pictos-iconmask('folder_lock');
@include pictos-iconmask('folder_open2');
@include pictos-iconmask('font');
@include pictos-iconmask('forbidden');
@include pictos-iconmask('forward_black');
@include pictos-iconmask('globe1');
@include pictos-iconmask('globe2');
@include pictos-iconmask('globe_black');
@include pictos-iconmask('headphones');
@include pictos-iconmask('heart');
@include pictos-iconmask('heart_circle');
@include pictos-iconmask('help');
@include pictos-iconmask('help_black');
@include pictos-iconmask('home');
@include pictos-iconmask('home2');
@include pictos-iconmask('hot');
@include pictos-iconmask('inbox1');
@include pictos-iconmask('inbox2');
@include pictos-iconmask('inbox3');
@include pictos-iconmask('infinite');
@include pictos-iconmask('infinite2');
@include pictos-iconmask('info');
@include pictos-iconmask('info2');
@include pictos-iconmask('info_plain');
@include pictos-iconmask('info_plain2');
@include pictos-iconmask('json');
@include pictos-iconmask('lab');
@include pictos-iconmask('layout');
@include pictos-iconmask('link1');
@include pictos-iconmask('link2');
@include pictos-iconmask('link_black');
@include pictos-iconmask('list');
@include pictos-iconmask('locate');
@include pictos-iconmask('locate1');
@include pictos-iconmask('locate2');
@include pictos-iconmask('locate3');
@include pictos-iconmask('locate4');
@include pictos-iconmask('lock_closed');
@include pictos-iconmask('lock_open');
@include pictos-iconmask('look');
@include pictos-iconmask('loop');
@include pictos-iconmask('loop2');
@include pictos-iconmask('loop_circle');
@include pictos-iconmask('magic');
@include pictos-iconmask('mail');
@include pictos-iconmask('mail1');
@include pictos-iconmask('mail2');
@include pictos-iconmask('mail3');
@include pictos-iconmask('mail4');
@include pictos-iconmask('mail5');
@include pictos-iconmask('maps');
@include pictos-iconmask('mic');
@include pictos-iconmask('minus1');
@include pictos-iconmask('minus2');
@include pictos-iconmask('minus_black1');
@include pictos-iconmask('minus_black2');
@include pictos-iconmask('monitor1');
@include pictos-iconmask('monitor2');
@include pictos-iconmask('monitor3');
@include pictos-iconmask('monitor4');
@include pictos-iconmask('more');
@include pictos-iconmask('mouse');
@include pictos-iconmask('move');
@include pictos-iconmask('music1');
@include pictos-iconmask('music2');
@include pictos-iconmask('nodes1');
@include pictos-iconmask('nodes2');
@include pictos-iconmask('note1');
@include pictos-iconmask('note2');
@include pictos-iconmask('note3');
@include pictos-iconmask('note_black');
@include pictos-iconmask('nuclear');
@include pictos-iconmask('organize');
@include pictos-iconmask('outbox');
@include pictos-iconmask('pause');
@include pictos-iconmask('phone1');
@include pictos-iconmask('phone2');
@include pictos-iconmask('phone_black');
@include pictos-iconmask('phone_ring1');
@include pictos-iconmask('phone_ring2');
@include pictos-iconmask('photo1');
@include pictos-iconmask('photo2');
@include pictos-iconmask('photo3');
@include pictos-iconmask('photo_black1');
@include pictos-iconmask('photo_black2');
@include pictos-iconmask('photos1');
@include pictos-iconmask('photos2');
@include pictos-iconmask('photos4');
@include pictos-iconmask('piechart');
@include pictos-iconmask('play1');
@include pictos-iconmask('play2');
@include pictos-iconmask('play_black1');
@include pictos-iconmask('play_black2');
@include pictos-iconmask('podcast');
@include pictos-iconmask('power_on');
@include pictos-iconmask('power_socket');
@include pictos-iconmask('print');
@include pictos-iconmask('print2');
@include pictos-iconmask('quote1');
@include pictos-iconmask('quote2');
@include pictos-iconmask('quote_black1');
@include pictos-iconmask('quote_black2');
@include pictos-iconmask('quote_black3');
@include pictos-iconmask('refresh');
@include pictos-iconmask('refresh1');
@include pictos-iconmask('refresh2');
@include pictos-iconmask('refresh3');
@include pictos-iconmask('refresh5');
@include pictos-iconmask('reply');
@include pictos-iconmask('replytoall');
@include pictos-iconmask('resize');
@include pictos-iconmask('resize_black');
@include pictos-iconmask('rewind');
@include pictos-iconmask('right');
@include pictos-iconmask('right2');
@include pictos-iconmask('rss');
@include pictos-iconmask('rss2');
@include pictos-iconmask('rss_black');
@include pictos-iconmask('rss_black1');
@include pictos-iconmask('rss_black2');
@include pictos-iconmask('screens');
@include pictos-iconmask('search');
@include pictos-iconmask('search1');
@include pictos-iconmask('search2');
@include pictos-iconmask('search_black');
@include pictos-iconmask('server');
@include pictos-iconmask('servers');
@include pictos-iconmask('settings');
@include pictos-iconmask('settings1');
@include pictos-iconmask('settings10');
@include pictos-iconmask('settings11');
@include pictos-iconmask('settings3');
@include pictos-iconmask('settings4');
@include pictos-iconmask('settings5');
@include pictos-iconmask('settings6');
@include pictos-iconmask('settings7');
@include pictos-iconmask('settings8');
@include pictos-iconmask('settings9');
@include pictos-iconmask('settings_black');
@include pictos-iconmask('share');
@include pictos-iconmask('shield1');
@include pictos-iconmask('shield2');
@include pictos-iconmask('shop1');
@include pictos-iconmask('shop2');
@include pictos-iconmask('shuffle');
@include pictos-iconmask('sign_backforth');
@include pictos-iconmask('sign_cross');
@include pictos-iconmask('sign_leftright');
@include pictos-iconmask('sign_leftright2');
@include pictos-iconmask('sign_split');
@include pictos-iconmask('sign_switch');
@include pictos-iconmask('sign_uturn');
@include pictos-iconmask('spaces1');
@include pictos-iconmask('spaces2');
@include pictos-iconmask('speedometer1');
@include pictos-iconmask('speedometer2');
@include pictos-iconmask('speedometer_black1');
@include pictos-iconmask('speedometer_black2');
@include pictos-iconmask('star');
@include pictos-iconmask('stop');
@include pictos-iconmask('stop1');
@include pictos-iconmask('stop2');
@include pictos-iconmask('sync');
@include pictos-iconmask('tabbed_book');
@include pictos-iconmask('tag');
@include pictos-iconmask('tag_black');
@include pictos-iconmask('tags');
@include pictos-iconmask('team');
@include pictos-iconmask('team1');
@include pictos-iconmask('time');
@include pictos-iconmask('time_repeat');
@include pictos-iconmask('trash');
@include pictos-iconmask('trash2');
@include pictos-iconmask('trash_black');
@include pictos-iconmask('tree');
@include pictos-iconmask('tv');
@include pictos-iconmask('tweak');
@include pictos-iconmask('twitter1');
@include pictos-iconmask('twitter2');
@include pictos-iconmask('up1');
@include pictos-iconmask('up2');
@include pictos-iconmask('up_black');
@include pictos-iconmask('upload2');
@include pictos-iconmask('user');
@include pictos-iconmask('user3');
@include pictos-iconmask('user_add');
@include pictos-iconmask('user_business');
@include pictos-iconmask('user_fave');
@include pictos-iconmask('user_list');
@include pictos-iconmask('user_list2');
@include pictos-iconmask('user_remote1');
@include pictos-iconmask('user_remove2');
@include pictos-iconmask('user_send');
@include pictos-iconmask('video');
@include pictos-iconmask('video_black1');
@include pictos-iconmask('video_black2');
@include pictos-iconmask('volume');
@include pictos-iconmask('volume_black');
@include pictos-iconmask('volume_down');
@include pictos-iconmask('volume_mute');
@include pictos-iconmask('volume_up');
@include pictos-iconmask('warning_black');
@include pictos-iconmask('warning_dotted');
@include pictos-iconmask('wifi');
@include pictos-iconmask('wifi2');
@include pictos-iconmask('wifi3');
@include pictos-iconmask('wifi4');
@include pictos-iconmask('window');
